* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Helvetica-Neue-LT-GEO-45-Lights";
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEO-45Lights.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEO-45Lights.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.font-1 {
  font-family: Helvetica-Neue-LT-GEO-45-Lights;
}

header {
  padding: 50px 50px 15px 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  color: white;
  font-size: 40px;
}

.logos {
  max-width: 100px;
  display: flex;
  gap: 20px;
}
body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: blue;
}

.box {
  max-width: 800px;
  min-height: 120px;

  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  padding: 0 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.item-1 {
  grid-row: 1 / span 2;
}

.item-2 {
  grid-row: 3;
}

.item-3 {
  grid-row: 4;
}

.item-4 {
  grid-row: 1;
}

.item-5 {
  grid-row: 2;
}
.item-6 {
  grid-row: 3 / span 2;
}
.item-7 {
  grid-column: 3/5;
}

.item-8 {
  grid-row: 2/4;
}

.item-9 {
  grid-column: 3 / span 2;
}

.item-10 {
  grid-row: 2;
}

.item-11 {
  grid-row: 3;
}
